
/*цвет основного текста #212121*/
/*вторичний цвет текста #757575*/
/*цвет background #E5E5E5*/
/*вторичный цвет background #F5F4FA*/
/*белый #FFFFFF*/
/*acent #2196F3*/
:root {
  --primary-text-color: #212121;
  --title-text-color: #fff;
  --accent-color: #2196f3;
  --primary-bg-color: #2F303A;
  --primary-logo-color: #000;
  --text-color: #757575;
  --mail-color: rgba(255, 255, 255, 0.6);

}
body {
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
  font-family: Rotobo, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;

}
img {
  display: block;
  max-width: 370px;
}
ul {
  padding: 0;
  margin: 0;
}
.page-header {
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/*logo*/
.logo {
  color: var(--primary-logo-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  font-weight: bold;
  text-decoration: none;
}
.webstudio {
  color: var(--accent-color);
}
/*navigation*/
.menu-nav .link {
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.menu-nav {
list-style: none;
}
.menu-nav .link:hover,
.menu-nav .link:focus {
color: var(--accent-color);

}
.menu-nav .link.current {
color: var(--accent-color);
}

/* contacts */
.contacts {
margin: 0;
padding: 0; 
list-style: none;
}
.contacts-list  {
color: var(--text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.contacts-list:hover,
.contacts-list:focus {
  color: var(--accent-color);
}
.button {
color: var(--title-text-color);
background-color: var(--accent-color);
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
border-radius: 4px;
padding: 6px 22px;
display: inline-block;
min-width: 73px;
margin: 0;
border: none;
}

.buttonLink { 
border: #fff;
font-style: normal;     
font-weight: bold;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
display: inline-block;
}
.btn {
  display: inline-block;
}
/*section*/
.section-title {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
margin: 0;  
color: var(--primary-text-color); 
font-weight: bold;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
}
p {
margin: 0;  
color: var(--text-color); 
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
footer {
  background-color: var(--primary-bg-color);
}
.logotype {
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--title-text-color);

}
.address {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.mail {
list-style: none;
}
.mail-list  {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;  
 color: var(--mail-color); 
 text-decoration: none;
}
.mail-list:hover,
.mail-list:focus {
  color: var(--accent-color);
}